$colors: (
  fill: #a972cb,
  pulse: #ef6eae, 
  close: #ff7f82, 
  raise: #f73636, 
  up: #e4cb58, 
  slide: #8fc866, 
  offset: #19bc8b
);

@each $button, $color in $colors {
  .#{$button} {
    --color: #{$color};
    --hover: #{adjust-hue($color, 10deg)};
  }
};

body {
  position: relative;
  text-align: center;
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  backface-visibility: hidden;
  // animation: slideBg 24s linear infinite 0s;
  animation-timing-function: ease-in-out;
  background-image: url(../img/slide-bg1.jpg);
  z-index: -2;
}

body::after {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: inherit;
  filter: blur(2px);
  z-index: -1;
}


@keyframes slideBg {
  0% {
    background-image: url(../img/slide-bg1.jpg);
  }
  20% {
    background-image: url(../img/slide-bg2.jpg);
  }
  40% {
    background-image: url(../img/slide-bg3.jpg);
  }
  60% {
    background-image: url(../img/slide-bg4.jpg);
  }
  80% {
    background-image: url(../img/slide-bg5.jpg);
  }
  100% {
    background-image: url(../img/slide-bg1.jpg);
  }
}

.logo-text {
  letter-spacing: 1px;
  // background: ivory;
  text-shadow: -1px -1px 0 #000, 
               1px -1px 0 #000,
              -1px 1px 0 #000, 
              1px 1px 0 #000;
}

.header {
  height: 20vh;
}

.logo {
  width: 80px;
}
a{
  display: block;
  text-decoration: none;
}

.card {
  position: relative;
  background: hsla(0,0%,100%,.8);  
  overflow: hidden;
  padding: 1em 0;
  border-radius: .3em;
  max-width: 500px;
  margin: 0 auto;
  box-shadow: 0 0 0 1px hsla(0,0%,100%,.3) inset,
	            0 .5em 1em rgba(0, 0, 0, 0.6);
	text-shadow: 0 1px 1px hsla(0,0%,100%,.3);
  background-color: rgba(225, 211, 193, 0.829);
}

.portal-container-unable {
  background-color: rgb(119, 136, 153);
}

.card-title {
  font-weight: bolder;
  cursor: default;
}

.card-subtitle {
  color: black;
  font-weight: bolder;
  background-color: white;
  &:hover{
    color: white;
    background-color: #e65050;
  }
}

.card-subtitle-unable {
  color: black;
  font-weight: bolder;
  background-color: lightgray;
  cursor: not-allowed;
  &:hover {
    color: unset;
  }
}
