@import "~bootstrap/scss/bootstrap";

$colors: (
  fill: #a972cb,
  pulse: #ef6eae, 
  close: #ff7f82, 
  raise: #f73636, 
  up: #e4cb58, 
  slide: #8fc866, 
  offset: #19bc8b
);

@each $button, $color in $colors {
  .#{$button} {
    --color: #{$color};
    --hover: #{adjust-hue($color, 10deg)};
  }
};

.header {
  height: 20vh;
}

.logo {
  width: 80px;
}
a{
  display: block;
  text-decoration: none;
}

.card {
  background-color: #e1d3c1;
}

.portal-container-unable {
  background-color: lightslategray;
}

.card-title {
  font-weight: bolder;
  cursor: default;
}

.card-subtitle {
  color: black;
  font-weight: bolder;
  background-color: white;
  &:hover{
    color: white;
    background-color: #e65050;
  }
}

.card-subtitle-unable {
  color: black;
  font-weight: bolder;
  background-color: lightgray;
  cursor: not-allowed;
  &:hover {
    color: unset;
  }
}
